*.xcuserstate
*.xcuserdata
*.xcshareddata
*.xcuserdatad
*.xcscmblueprint
*xcbaselines*
.DS_Store

# Idea/AppCode settings
.idea/
build

#carthage
Carthage

meme\ generator.xcodeproj/project.xcworkspace/xcshareddata/
